<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="Id" [value]="_service.formData.Id"> 
  <input type="hidden" name="Id" [value]="_service.formData.ProductInfo.Id">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle" [class.green-icon]="Name.valid" [class.red-icon]="Name.invalid && Name.touched"></i>
        </div>
      </div>
      <input name="Name" #CardOwnerName="ngModel" [(ngModel)]="_service.formData.Name" class="form-control"
        placeholder="Name..." required>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="far fa-credit-card"  [class.green-icon]="CardNumber.valid" [class.red-icon]="CardNumber.invalid && CardNumber.touched"></i>
        </div>
      </div>
      <input name="CardNumber" #CardNumber="ngModel" [(ngModel)]="_service.formData.CardNumber" 
      class="form-control" placeholder="16 Digit Card Number" required maxlength="16" minlength="16">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-7">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-calendar-alt"  [class.green-icon]="ExpirationDate.valid" [class.red-icon]="ExpirationDate.invalid && ExpirationDate.touched"></i>
          </div>
        </div>
        <input name="ExpirationDate" #ExpirationDate="ngModel" [(ngModel)]="_service.formData.ExpirationDate" class="form-control"
          placeholder="MM/YY" required maxlength="5" minlength="5">
      </div>
    </div>
    <div class="form-group col-md-5">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-key"  [class.green-icon]="CVV.valid" [class.red-icon]="CVV.invalid && CVV.touched"></i>
          </div>
        </div>
        <input type="password" name="CVV" #CVV="ngModel" [(ngModel)]="_service.formData.CVV" class="form-control" placeholder="CVV"
        required  maxlength="3" minlength="3">
      </div>
    </div>
  </div>
  <div class="form-group col-md-7">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Submit</button>
  </div>
  <div class="form-group col-md-5">
    <button class="btn btn-lg btn-block" type="button" (onClick)="resetForm(form)"><i class="fas fa-database"></i> Clear</button>
  </div>
</form>