<div *ngIf="isLoaded">
    <table class="table wrapped-div" style="width: 100%">
      <thead> 
        <th>Name</th>
        <th>Description</th>
        <th>DateCreate</th>
        <th>Owners</th> 
        <th><i class="fas fa-cogs"></i></th>
      </thead>
      <tr *ngFor="let pd of _service.list"> 
        <td (click)="populateForm(pd)">{{pd.Name}}</td>
        <td (click)="populateForm(pd)">{{pd.Description}}</td>
        <td (click)="populateForm(pd)">{{pd.DateCreate}}</td>
        <td (click)="populateForm(pd)">
          <p *ngFor="let user of pd.Users">{{user.Fullname}}</p>
        </td> 
        <td>
          <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.Id)"></i>
          <i class="fas fa-door-open text-danger" (click)="onOpen(pd.Id)"></i>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="!isLoaded" class="text-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Lightness_rotate_36f_cw.gif" style="max-height: 70px; max-width: 70px"/>
  </div>
  