<h1>Fridge_open_home</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="addFridgeProduct()" /><p />
<button class="btn btn-sm btn-primary" (click)="loadUserFridgeProducts">[LoadUserFridgeProducts]</button><p />
<button class="btn btn-sm btn-primary" (click)="loadAllFridgeProducts">[LoadAllFridgeProducts]</button><p />
<table *ngIf="tableMode; else createproduct" class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Description</td>
      <td>Owner</td>
      <td>Amount</td>
      <td>EI</td>
      <td>Price</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products">
      <ng-template [ngIf]="product?.id != p.id" [ngIfElse]="editproduct">
        <td><a [routerLink]="['api/products',{{p?.productid}}" class="nav-link">{{p?.name}}</a> </td>
        <td>{{p?.description}}</td>
        <td><a [routerLink]="['api/users',{{p?.userid}}" class="nav-link">{{p?.username}}</a> </td>
        <td>{{p?.amount}}</td>
        <td>{{p?.ei}}</td>
        <td>{{p?.price}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editProduct(p)">[Edit]</button>
          <button class="btn btn-sm btn-danger" (click)="deleteProduct(p)">[Delete]</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table><p /><p />
<h5>Stickers:</h5><p />
<table *ngIf="tableMode; else createSticker" class="table table-striped">
  <thead>
    <tr>
      <td>Username</td>
      <td>Text</td>
      <td>DateSend</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of stickers">
      <ng-template [ngIf]="sticker?.id != p.id" [ngIfElse]="editsticker">
        <td>{{p?.username}}</td>
        <td>{{p?.text}}</td>
        <td>{{p?.datesend}}</td>
        <td>
          <!-- <button class="btn btn-sm btn-primary" (click)="editProduct(p)">[Edit]</button>-->
          <button class="btn btn-sm btn-danger" (click)="deleteSticker(p)">[Delete]</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #editproduct>
  <td>
    <input hidden [(ngModel)]="product.id" />
    <input hidden [(ngModel)]="product.userid" />
    <input hidden [(ngModel)]="product.username" />
    <input hidden [(ngModel)]="product.fridgeid" />
    <input hidden [(ngModel)]="product.productid" /> 
    <input type="text" [(ngModel)]="product.name" readonly class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="product.description" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="product.amount" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="product.ei" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="product.price" readonly" class="form-control" />
  <td>
    <input type="button" value="[Save]" (click)="saveProduct()" class="btn btn-sm btn-success" />
    <input type="button" value="[Undo]" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #createsticker>
  <input hidden [(ngModel)]="sticker.id" />
  <input hidden [(ngModel)]="sticker.userid" />
  <input hidden [(ngModel)]="sticker.fridgeid" />
  <div class="form-group">
    <label>Text</label>
    <ng-select [(ngModel)]="product.name" [items]="dbproducts" bindLabel="name"
               placeholder="Product..."></ng-select>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" [(ngModel)]="product.description" class="form-control" placeholder="Description..."/>
  </div>
  <div class="form-group">
    <label>Amount</label>
    <input type="text" [(ngModel)]="product.amount" class="form-control" />
  </div>
  <div class="form-group">
    <label>EI</label>
    <input type="text" [(ngModel)]="product.ei" class="form-control" />
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" [(ngModel)]="product.price" class="form-control" />
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>


<!--шаблон для редактирования-->
<ng-template #editsticker>
  <td>
    <input hidden [(ngModel)]="sticker.id" />
    <input hidden [(ngModel)]="sticker.userid" />
    <input hidden [(ngModel)]="sticker.fridgeid" />
    <input hidden [(ngModel)]="sticker.datesend" />
    <input hidden [(ngModel)]="sticker.username" />  
    <input type="text" [(ngModel)]="sticker.text" class="form-control"/>
  </td> 
  <td>
    <input type="button" value="[Send]" (click)="saveSticker()" class="btn btn-sm btn-success" />
    <input type="button" value="[Undo]" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #createproduct>
  <input hidden [(ngModel)]="product.id" />
  <input hidden [(ngModel)]="product.userid" />
  <input hidden [(ngModel)]="product.fridgeid" />
  <input hidden [(ngModel)]="product.username" />
  <div class="form-group">
    <label>Product</label>
    <ng-select [(ngModel)]="product.name" [items]="dbproducts" bindLabel="name"
               placeholder="Product..."></ng-select>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" [(ngModel)]="product.description" class="form-control" placeholder="description..." />
  </div>
  <div class="form-group">
    <label>Amount</label>
    <input type="text" [(ngModel)]="product.amount" class="form-control"  placeholder="Amount..."/>
  </div>
  <div class="form-group">
    <label>EI</label>
    <input type="text" [(ngModel)]="product.ei" class="form-control" placeholder="EI..."/>
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" [(ngModel)]="product.price" class="form-control" placeholder="Price..."/>
  </div>
  <div>
    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
    <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
