<div *ngIf="!load">
  <div style="text-align: right">
    <h5>Личная информация</h5>
    <label>ФИО: </label>
    <ng2-text-editable [(text)]="currentUser.fio" (toggled)="updateUser($event)"></ng2-text-editable>
    <br/>
    <label>Дата рождения: </label>
    <label>{{currentUser.birthday| amLocal | amDateFormat: 'DD-MM-YYYY'}}</label>
    <br/>
    <label>Логин: </label>
    <label>{{currentUser.login}}</label><br/>
    <label>Email: </label>
    <label>{{currentUser.email}}</label><br/>
  </div>
  <div style="text-align: center; margin-top: -40px">
    <h3>Здравствуйте, {{currentUser.login}}!</h3>
  </div>
  <div style="margin-top: 20px">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
      <tr>
        <th>Номер заказа</th>
        <th>Дата заказа</th>
        <th>Город отправления</th>
        <th>Город прибытия</th>
        <th>Дата отправления</th>
        <th>Дата прибытия</th>
        <th>Цена$</th>
        <th>Статус заказа</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.id }}</td>
        <td>{{ order.date | amLocal | amDateFormat: 'DD-MM-YYYY'}}</td>
        <td>{{ order.tour.cityFrom.city}}</td>
        <td>{{ order.tour.hotel.city.name }}</td>
        <td>{{ order.tour.dateFrom | amLocal | amDateFormat: 'DD-MM-YYYY'}}</td>
        <td>{{ order.tour.dateTo | amLocal | amDateFormat: 'DD-MM-YYYY'}}</td>
        <td>{{ order.price }}</td>
        <td *ngIf="order.orderStatus.status==1">Оплачен</td>
        <td *ngIf="order.orderStatus.status==0">Не оплачен</td>
         </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="load" class="text-center">
  <h3>Загрузка...</h3>
</div>

