@model FridgyKeyApp.Models.SendStickerViewModel

<tr class="text-center">
    <td><a href="/Account//Show/@Model.Username">@Model.Username</a></td>
    <td>@Html.EditorFor(m => m.Text)</td>
    <td></td>
</tr>

