<div *ngIf="!load">
  <div style="margin-top: 10px">
    <div *ngIf="currentUser.roles.indexOf('Admin')!=-1" style="text-align: left">
      <label>Добавить данные</label>
      <button type="button" class="btn btn-default" (click)="navigateToAdd()">
        <span class="gglyphicon glyphicon-plus"></span>
      </button>
    </div>
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr *ngIf="!load">
          <th>FridgeId</th>
          <th>Name</th>
          <th>DateCreate</th>
          <th>Owners</th>
          <th>Action</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fridge of fridges">
          <td>{{ fridge.FridgeId }}</td>
          <td>{{ fridge.Name}}</td>
          <td>{{ order.DateCreate | amLocal | amDateFormat: 'DD-MM-YYYY'}}</td>
          <td *ngFor="let user of fridge.Users"><a [routedLink]="['users',{{user.Id}}]">{{ user.Email }}</a><p /></td>
          <td>
            <button type="button" class="btn btn-default" (click)="fridgeView(fridge.FridgeId)">
              <span class="glyphicon glyphicon-eye-open"></span>
            </button>
            <button *ngIf="currentUser.roles.indexOf('Admin')!=-1" type="button" class="btn btn-default" (click)="updateFridge(fridge.FridgeId)">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button *ngIf="currentUser.roles.indexOf('Admin')!=-1" type="button" class="btn btn-default" (click)="deleteFridge(tfridge.FridgeId)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="load" class="text-center">
  <h3>Загрузка...</h3>
</div>
